html, body {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  background: -webkit-canvas(background) no-repeat 50% 50%;
}

.transparent {
  background: rgba(0,0,0,0.7);
}

progress {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 20px;
  padding: 3px 3px 2px 3px;
  background: #333; 
  background: -webkit-linear-gradient(#2d2d2d,#444);
  background:    -moz-linear-gradient(#2d2d2d,#444);
  background:      -o-linear-gradient(#2d2d2d,#444);
  background:         linear-gradient(#2d2d2d,#444);
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 15px;
  box-shadow: 0 1px 0 rgba(255,255,255,.2);
}

progress::-moz-progress-bar {
  border-radius:10px;
  background: #09c;
  background: 
  -moz-repeating-linear-gradient(
    45deg, 
    rgba(255,255,255,.2) 0,
    rgba(255,255,255,.2) 10px, 
    rgba(255,255,255,0) 10px,
    rgba(255,255,255,0) 20px
    ),
  -moz-linear-gradient(
    rgba(255,255,255,.1) 50%,
    rgba(255,255,255,0) 60%
    ),
  #09c;
  background: 
  repeating-linear-gradient(
    45deg, 
    rgba(255,255,255,.2) 0,
    rgba(255,255,255,.2) 10px, 
    rgba(255,255,255,0) 10px,
    rgba(255,255,255,0) 20px
    ),
  linear-gradient(
    rgba(255,255,255,.1) 50%,
    rgba(255,255,255,0) 60%
    ),
  #09c;
  background-size: 300px 20px, auto, auto;
  background-position: -300px 0, top, top;
  background-position: top right, top, top;
  box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
  0 -1px 0 rgba(0,0,0,.8) inset,
  0 0 2px black;
  
}

/* Style de la barre pour Chrome*/
progress::-webkit-progress-value {
  border-radius:10px;
  background: #09c;
  background: 
  -webkit-repeating-linear-gradient(
    45deg, 
    rgba(255,255,255,.2) 0,
    rgba(255,255,255,.2) 10px, 
    rgba(255,255,255,0) 10px,
    rgba(255,255,255,0) 20px
    ),
  -webkit-linear-gradient(
    rgba(255,255,255,.1) 50%,
    rgba(255,255,255,0) 60%
    ),
  #09c;
  background: 
  repeating-linear-gradient(
    45deg, 
    rgba(255,255,255,.2) 0,
    rgba(255,255,255,.2) 10px, 
    rgba(255,255,255,0) 10px,
    rgba(255,255,255,0) 20px
    ),
  linear-gradient(
    rgba(255,255,255,.1) 50%,
    rgba(255,255,255,0) 60%
    ),
  #09c;
  background-size: 300px 20px, auto, auto;
  background-position: -300px 0, top, top;
  background-position: top right, top, top;
  box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
  0 -1px 0 rgba(0,0,0,.8) inset,
  0 0 2px black;
}
progress::-webkit-progress-bar {
  background: transparent;
}

#editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#footer, #header {
  padding: 5px;
}

#header, #footer, #content, #navigation, #edit {
  border-color: #c8c8c8;
}

#header {
  border-bottom: 1px solid;
}

#footer {
  border-top: 1px solid;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: transparent;
}


#navigation, #edit {
  padding: 5px;
  width: 200px;
  overflow: hidden;
  overflow-y: auto;
}

#navigation {
  border-right: 1px solid;
}

#edit {
  border-left: 1px solid;
}

#preview {
  flex: 1;
}

#navigation > ul {
  list-style-type: none;
  padding: 5px;
}

.grp-border {
  margin-top: 2px;
  padding: 2px;
}

input[type="text"],
input[type="number"] {
  padding: 2px;
  transition: background 0.3s;
  background-color : #ffffff;
  color: #222222;
  width: 100%;
  border: 1px solid #222222;
  border-top: 2px solid #222222;
  padding-left: 5px;
}

input[type="text"].focus,
input[type="number"].focus,
input[type="text"]:focus,
input[type="number"]:focus {
}

.btn {
  padding: 5px;
  width: 100%;
}

h3 {
  text-align: center;
}

.field-name {
  text-align: center;
}