<canvas style="
  position: absolute;
"></canvas>


<div id="object_name" style="
  position: absolute;
  height: auto;
  top: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  border: 4px solid white;
  border-top: none;
  border-bottom: none;
  border-radius: 4px">

  {{GetSelectionName()}}

</div>


<h3 id="need_save" style="
  position: absolute;
  top: 0px;
  right: 8px;"
  ng-show="need_save">
  *
</h3>


<div id="tool_buttons" style="
  position: absolute;
  height: auto;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0);">

  <label class="btn" style="padding: 2px; width: 8ch;
  margin: 0px; background-color: #eeeeee;"
  ng-model="mode" uib-btn-radio="'translate'">
    Move
  </label>

  <label class="btn" style="padding: 2px; width: 8ch;
  margin: 0px; background-color: #eeeeee;"
  ng-model="mode" uib-btn-radio="'rotate'">
    Rotate
  </label>

  <label class="btn" style="padding: 2px; width: 8ch;
  margin: 0px; background-color: #eeeeee;"
  ng-model="mode" uib-btn-radio="'scale'">
    Scale
  </label>

</div>


<div id="save" style="
  position: absolute;
  height: auto;
  bottom: 1em;
  left: 4px">
  <label class="btn" style="padding: 2px; width: 8ch;
  margin: 0px; background-color: #eeeeee;"
  ng-click="Save()">
    Save
  </label>
</div>


<div id ="cancel" style="
  position: absolute;
  height: auto;
  bottom: 1em;
  right: 4px">
  <label class="btn" style="padding: 2px; width: 8ch;
  margin: 0px; background-color: #eeeeee;"
  ng-click="Cancel()">
    Cancel
  </label>
</div>