<div id="editor">

  <div id="header">
    header
  </div>

  <div id="content">

    <div id="navigation">

      {{GetJourney().journey.name}}<br>
      <br>
      POIs
      <ul>
        <li ng-repeat="(key, value) in GetJourney().pois">
          {{value.name}}
        </li>
      </ul>
      <br>
      Channels
      <ul>
        <li ng-repeat="(key, value) in GetJourney().channels">
          {{value.name}}
        </li> 
      </ul>
      <br>
      Markers
      <ul>
        <li ng-repeat="(key, value) in GetJourney().markers">
          {{value.name}}
        </li>
      </ul>
      <br>
      Contents
      <ul>
        <li ng-repeat="(key, value) in GetJourney().contents">
          {{value.name}}
        </li>
      </ul>
      <br>
      Objects
      <ul>
        <li ng-repeat="(key, value) in GetJourney().objects">
          {{value.name}}
        </li>
      </ul>

    </div>

    <div id="preview">

      preview

      <div id="preview_journey">
      </div>
      <div id="edit_channel">
      </div>

    </div>

    <div id="edit">
      edit
    </div>


  </div>

  <div id="footer">
    footer
  </div>

</div>